{% extends "bases/base.html" %}

{% block titulo %} Equipos Bundesliga {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
<div class="container bg-greey mt-5 p-3 mb-5">
    <h1 class="display-4 mb-3">Equipos de la Bundesliga</h1>
     <div class="row">
       <div class="col-12">
        <div class="row">
            {% for equi in equipo %}
            <div class="col-auto m-auto m-md-0">
                <div class="card mb-2" style="width: 18rem;">
                    <article class="location-listing">
                        <a class="location-title"href="{% url 'perfilbundesliga' equi.idequipo %}">Ver
                            Perfil</a>
                        <div class="location-image">
                            <a href="{% url 'perfilbundesliga' equi.idequipo %}">
                                <img src="{{ equi.urllogo }}" class="card-img-top"
                                    alt="Logo Equipo" /></a>
                        </div>
                    </article>
                    <div class="card-body">
                        <div class="card-text text-center">{{equi.nombreequipo}}</div>
                    </div>
                   
                </div>
            </div>
            {% endfor %}
        </div>
       </div>
     </div>
   </div>

{% endblock %}