{% extends "bases/base.html" %}

{% block titulo %} Noticias de la Bundesliga {%endblock %}

{% block contenido %}

{% firstof "1" as counter %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">

                    Últimas noticias de la primera división de fútbol alemán
                    <br>
                    <br>
                    <a href="verEquiposMundial" class="btn btn-warning">Equipos que participan</a>
                </div>


                <div class="card-body">
                    <div class="card-columns">


                        {% for noti in mostrar %}

                        {% if noti.tiponoticia == "Mundial" %}


                        <div class="card" style="width: 18rem;">
                            <!--<img class="card-img-top" src="" alt="Card image cap">-->
                            <div class="card-body">
                                <h5 style="color: red;" class="card-title">{{ noti.nombrenoticia }}</h5>
                                <p style="color: black;" class="card-text">ID: {{noti.idnoticia}}</p>
                                <p style="color: black;" class="card-text">Noticias sobre: {{noti.tiponoticia}}</p>
                                {% for det in detalle %}
                                {% if det.iddetalle == noti.idnoticia %}
                                <li><a><img src={{ det.urlimagen }} height="127" width="225"/></a></li>
                                {% endif %}
                                {% endfor %}
                                <br>

                                <a href="verNoticiasMundial/{{noti.idnoticia}}" class="btn btn-warning">Ver Noticia {{
                                    forloop.counter }}</a>


                            </div>


                        </div>


                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>

{% endblock %}