{% extends "bases/base.html" %}

{% block titulo %} Perfil de equipo {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}

{% for equi in equipo %}
{% if var|add:"0" == equi.idequipo %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="ver perfil de los equipos del mundial Qatar 2022">
    <meta name="keywords" content="Django, Bootstrap, Python">
    <meta name="author" content="Wilfredo Mancia - MT20015">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    
                    
                  
                    
                    <h1><span class="badge bg-secondary">Perfil de equipo mundialista: {{ equi.nombreequipo }}</span></h1>
                </div>
                
                <div class="row text-center">
                    <img src={{ equi.urllogo }} class="mx-auto d-block" alt="Responsive image">
                </div>

                <div class="card-body">

                <p style="color: white;" class="card-text">Estadio principal: {{ equi.estadioequipo }} </p>

                <p style="color: white;" class="card-text">Año de fundacion: {{equi.yearfundacion}}</p>

                <p style="color: white;" class="card-text">Entrenador: {{ equi.entrenador }} </p>

            </div>
        </div>
        <div class="card text-black bg-white mb-3">
        <div id="main-container">
         <div class="card-body">
             <p style="color: black;" class="card-text">Jugadores convocados para el Mundial Qatar 2022 para la seleccion de {{ equi.nombreequipo}}</p>
             
             {% for jug in jugador %}
             {% if jug.escapitan == 1 %}
             <p style="color: black;" class="card-text">Capitan: {{jug.nombrejugador}}</p>

             {% endif %}
             {% endfor %}
             
            


             <table class="table table-striped">
                 <tr>
                 <th>N.º</th>
                 <th>Nombre</th>
                 <th>Posición</th>
                 <th>Edad</th>
                 </tr>
                 
                 <tbody>
                 {% for jug in jugador %}
                 <tr>
                
                 <td>{{jug.numerojugador}}</td>
                 <td>{{jug.nombrejugador}}</td>
                 <td>{{jug.posicionjugador}}</td>
                 <td>{{jug.edad}}</td>   
                 </tr>
                 {% endfor %} 
                 </tbody>
             </table>
                 
         </div>
        </div>
        
        
        </div>
        <div class="card text-white bg-dark mb-3">
            
            <div class="card-body">
                <p style="color: white;" class="card-text">Todas las noticias sobre {{equi.nombreequipo}} </p>
                <div class="card-columns">
                    
                    {% for noti in mostrar %}
                    
                    {% if noti.etiqueta == equi.nombreequipo %}
                    

                    <div class="card" style="width: 18rem;">
                        <!--<img class="card-img-top" src="" alt="Card image cap">-->
                        <div class="card-body">
                            <h5 style="color: red;" class="card-title">{{ noti.nombrenoticia }}</h5>
                            
                            <p style="color: black;" class="card-text">Noticias sobre: {{noti.tiponoticia}}</p>
                            {% for det in detalle %}
                            {% if det.iddetalle == noti.idnoticia %}
                            <li><a><img src={{ det.urlimagen }} height="127" width="225"/></a></li>
                            {% endif %}
                            {% endfor %} 
                            <br>
                            
                            <button class="btn btn-primary btn-lg" type="button" onclick="window.location='/selecciones/verNoticiasMundial/{{noti.idnoticia}}';">Ver noticia</button>

                        </div>
                    </div>
                    
                    {% endif %}
                    {% endfor %} 
                </div>
            </div>

        </div>
    </div>
    </div>
</div>
{% endif %}
{% endfor %} 

</main>
{% endblock %}