{% extends "bases/base.html" %}

{% block metadatos %}
<meta charset="UTF-8">
<meta name="description" content="ver todas las noticias guardadas sobre el mundial Qatar 2022">
<meta name="keywords" content="Django, Bootstrap, Python">
<meta name="author" content="Wilfredo Mancia - MT20015">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block titulo %} Noticias Mundial Qatar 2022 {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
{% firstof "1" as counter %}


{% load static %}
<link href="{% static 'css/estilo.css' %}" rel="stylesheet">
<p class="my-4">e</p>
<div class="container-fluid">
    <div class="row">
        <div class="col col-11 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="col text-center mb-5">
                        <h1 class="display-4"> Todas las noticias sobre equipos del mundial Qatar 2022 </h1>
                    </div>
                    <div class="row m-4">
                        <a href="{% url 'equiposmundial' %}" class="btn btn-warning">Equipos que participan</a>
                    </div>
                    <div class="wrapper">
                        <div class="container-fluid">
                            <div class="row my-0">

                                {% for noti in mostrar %}
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    {% for det in detalle %}
                                    {% if det.iddetalle == noti.idnoticia %}
                                    <div class="card text-white card-has-bg click-col"
                                         style="background-image:url('{{ det.urlimagen }}');">
                                        <img class="card-img d-none" src="{{ det.urlimagen }}" alt="">
                                        <div class="card-img-overlay d-flex flex-column">
                                            <div class="card-body">
                                                <a href="{% url 'idnoti' noti.idnoticia %}" class="text-light"><big
                                                        class="card-meta mb-2">{{ noti.nombrenoticia}}</big></a>
                                                <small><i class="far fa-clock"></i> {{det.fechanoticia}}</small>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <td></td>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}