{% extends "bases/base.html" %}

{% block titulo %} Equipos Copa Libertadores {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                   <center>
                    Equipos que participan en Copa Libertadores de America
                    <p>
                        <p>
                   </p>
                    <a href=" /internacionales/verTodasNoticiasLibertadores " class="btn btn-warning">Noticias de la Copa Libertadores de America</a>
                       <b>

                       </b>
                    </p>
                        <br>
                    <br>
                   </center>

                </div>
                <div class="card-body">
                    <div class="card-columns">
                        {% for equi in equipo %}
                        {% if equi.idTipoEquipo == 8 %}
                        <div class="card" style="width: 18rem;">
                            <!--<img class="card-img-top" src="" alt="Card image cap">-->
                            <div class="card-body">
                                <center>
                                <h5 style="color: red;" class="card-title">{{ equi.nombreequipo }}</h5>
                                <p style="color: black;" class="card-text">Año de fundacion: {{equi.yearfundacion}}</p>
                                <p style="color: black;" class="card-text">Estadio: {{ equi.estadioequipo }} </p>
                                <p style="color: black;" class="card-text">Ciudad Equipo: {{ equi.ciudadequipo }} </p>
                                <li><a><img src={{ equi.urllogo }} height="260" width="260"/></a></li>
                                </center>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>
{% endblock %}