{% extends "bases/base.html" %}

{% block titulo %} Noticias {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
    <div class="container-fluid">
        <div class="row">
            <div class="col col-11 mx-auto">
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">{{noticia.nombrenoticia}}</h4>
                      <h6 class="card-subtitle mb-2 text-muted ">Editar Noticia</h6>
                        <form method="post" action=".">
                            {% csrf_token %}
                            <h6><span class="badge bg-danger mt-3 text-light rounded-pill">1</span> Información Inicial</h6>
                         
                           <div class="row mx-4">
                                <div class="col col-6">
                                    <label for="">Titulo:</label>
                                    <textarea type="text" class="form-control" name="nombrenoticia" >{{noticia.nombrenoticia}}</textarea>
                                </div>
                                <div class="col col-3">
                                    <label for="">Equipo:</label>
                                    <input type="text" class="form-control" value="{{noticia.equipo}}" name="idequipo">
                                </div>
                              
                                <div class="col col-3">
                                    <label for="">Fecha:</label>
                                    <input type="date" class="form-control" value="{{detalle.fechanoticia}}" name="fecha">
                                </div>
                                <div class="col col-6 mt-2">
                                    <label for="">Competencia:</label>
                                    <select class="custom-select" name="idcompetencia">
                                        {% for comp in competencias %}
                                        <option value="{{comp.idcompetencia}}" {% if comp.idcompetencia == noticia.idcompetencia %}selected{% endif %}>{{comp.nombrecompetencia}}</option>
                                        {% endfor %} 
                                    </select>
                                </div>
                           </div>

                        <h6><span class="badge bg-danger mt-4 text-light rounded-pill">2</span> Detalles Noticia</h6>

                           <div class="row mx-4">
                                    <div class="col">
                                        <label for="">Descripción:</label>
                                        <textarea type="text" class="form-control" rows="6" name="descripcion">{{detalle.descripcionnoticia}}</textarea>
                                    </div>
                                    <div class="col">
                                        <label for="">url imagen:</label>
                                        <textarea name="urlimagen" id="" rows="4" class="form-control" name="urlimagen">{{detalle.urlimagen}}</textarea>
                                    </div>
                                  <div class="col col-12">
                                    <a href="{% url 'noticiasCRUD' %}" class="btn btn-sm btn-danger float-right" data-dismiss="modal">Cancelar</a>
                                 
                                        <button class="btn btn-sm btn-primary float-right mr-2">Guardar</button>
                                     
                                  </div>
                            </div>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% if messages %}
{% for message in messages %}
{{message}}
Si
{% endfor %}
{% endif %}


{% endblock %}