{% extends "bases/base.html" %}

{% block metadatos %}
<meta name="description" content="Pagina de inicio de sesion para el administrador">
<meta name="keywords" content="Django, Bootstrap, Python">
<meta name="author" content="Carlos Eduardo Rafaelano Santos-RS20002">
{% endblock %}

{% block titulo %} Equipos Liga Pepsi {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
<div class="container bg-greey mt-5 p-3 mb-5">
    <h1 class="display-4 mb-3">Equipos de La Liga Pepsi</h1>
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for team in teams %}
                <div class="col-auto m-auto m-md-0">
                    <div class="card mb-2" style="width: 18rem;">
                        <article class="location-listing">
                            <a class="location-title" href="{% url 'profileLigaPepsi' team.idequipo %}">Ver
                                Perfil</a>
                            <div class="location-image">
                                <a href="{% url 'profileLigaPepsi' team.idequipo %}">
                                    <img src="{{ team.urllogo }}" class="card-img-top"
                                         alt="Logo Equipo"/></a>
                            </div>
                        </article>
                        <div class="card-body">
                            <div class="card-text text-center">{{team.nombreequipo}}</div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}