{% extends "bases/base.html" %}

{% block titulo %} Noticias {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
{% firstof "1" as counter %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="ver todas las noticias guardadas sobre el mundial Qatar 2022">
    <meta name="keywords" content="Django, Bootstrap, Python">
    <meta name="author" content="Wilfredo Mancia - MT20015">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% load static %}
<link href="{% static 'css/estilo.css' %}" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-11 col-lg-10 col-xl-9 mx-auto container-noticias p-2 p-md-5">
                        <div class="col text-center mb-5">
                            <h1 class="display-4">¡Todas las noticias sobre equipos de la Seria A de Italia!</h1>
                        </div>
                        <div class="mx-3 mt-4 mb-3 d-flex justify-content-end">
                            <a href="{% url 'equiposseriea' %}" class="btn btn-color text-white">Equipos que participan</a>
                        </div>

                        <div class="wrapper">
                            <div class="container-fluid">
                                <div class="row my-0">


                                    {% for noti in mostrar %}
                                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                        {% for det in detalle %}
                                        {% if det.iddetalle == noti.idnoticia %}
                                        <div class="card text-white card-has-bg click-col"
                                             style="background-image:url('{{ det.urlimagen}}');">
                                            <img class="card-img d-none" src="{{ det.urlimagen}}" alt="">
                                            <div class="card-img-overlay d-flex flex-column">
                                                <div class="card-body">
                                                    <a href="{% url 'noticiaseriea' noti.idnoticia %}"
                                                       class="text-light"><big class="card-meta mb-2">{{ noti.nombrenoticia }}</big></a>
                                                    <small><i class="far fa-clock"></i> {{det.fechanoticia}}</small>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <td></td>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                   
            </div>
        </div>
        </div>
        
        {% endblock %}