{% extends "bases/base.html" %}

{% block titulo %} Seria A Noticias Generales {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
{% for noti in mostrar %}
{% if var|add:"0" == noti.idnoticia %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="ver noticia especifica sobre liga italiana">
    <meta name="keywords" content="Django, Bootstrap, Python">
    <meta name="author" content="Julio Mejia - MR20084">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    <p style="color: white;" class="card-text">Noticias sobre: {{noti.tiponoticia}}</p>
                </div>

                {% for det in detalle %}
                {% if var|add:"0" == det.iddetalle %}
                <div class="card-body">

                <p style="color: white;" class="card-text">Fecha de publicacion: {{det.fechanoticia}}</p>

                <br>
                <p style="color: white;" class="card-text">{{det.descripcionnoticia}}</p>
                <div class="row text-center">
                <img src={{ det.urlimagen }} class="mx-auto d-block" alt="Responsive image">
                </div>
               </div>

               {% endif %}
               {% endfor %}  
               <button class="btn btn-primary btn-lg" type="button" onclick="window.location='/ligasdomesticas/SerieA_general';">Ver Noticias Generales</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %} 
</main>
{% endblock %}