{% extends "bases/base.html" %}

{% block metadatos %}
<meta name="description" content="Pagina de inicio de sesion para el administrador">
<meta name="keywords" content="Django, Bootstrap, Python">
<meta name="author" content="Carlos Eduardo Rafaelano Santos-RS20002">
{% endblock %}

{% block titulo %} Administración {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    Ingrese sus credenciales de administrador
                </div>

                <div class="card-body">
                    <div class="container">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3 row">
                                <label for="username" class="col-4 col-form-label">Usuario</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="username" id="username"
                                        placeholder="Usuario">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="password" class="col-4 col-form-label">Contraseña</label>
                                <div class="col-8">
                                    <input type="password" class="form-control" name="password" id="password"
                                        placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="offset-sm-4 col-sm-8">
                                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                                    <button type="button" class="btn btn-secondary"
                                        onClick="location.href='/'">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/page.js'%}" type="text/javascript"></script>
{% endblock %}