{% extends "bases/base.html" %}

{% block metadatos %}
<meta name="description" content="Pagina de inicio de sesion para el administrador">
<meta name="keywords" content="Django, Bootstrap, Python">
<meta name="author" content="Carlos Eduardo Rafaelano Santos-RS20002">
{% endblock %}

{% block titulo %} Equipos UEFA Champions League {%endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    <center>
                        Equipos que participan en UEFA Champions League
                        <p>
                            <p>
                            </p>
                            <a href="{% url 'todasChampions' %}" class="btn btn-color text-white">Noticias
                                de la UEFA Champions League</a>
                            <b>

                            </b>
                        </p>
                        <br>
                        <br>
                    </center>

                </div>
                <div class="card-body">
                    <center>
                        <div class="card-columns">
                            {% for equi in equipo %}
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <center>
                                        <h5 style="color: #802c50;" class="card-title">{{ equi.nombreequipo }}</h5>
                                    </center>
                                </div>
                                <article class="location-listing">
                                    <a class="location-title" href="{% url 'perfilChampions' equi.idequipo %}">Ver
                                        Perfil</a>
                                    <div class="location-image">
                                        <a href="{% url 'perfilChampions' equi.idequipo %}">
                                            <img src="{{ equi.urllogo }}" height="200" width="200"
                                                alt="Logo Equipo" /></a>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    </center>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}