{% extends "bases/base.html" %}

{% block metadatos %}
<meta name="description" content="Pagina de inicio de sesion para el administrador">
<meta name="keywords" content="Django, Bootstrap, Python">
<meta name="author" content="Carlos Eduardo Rafaelano Santos-RS20002">
{% endblock %}

{% block titulo %} Noticias UEFA Champions League {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
{% firstof "1" as counter %}


{% load static %}
<link href="{% static 'css/estilo.css' %}" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-11 col-lg-10 col-xl-9 mx-auto container-noticias p-2 p-md-5">
           
                    <div class="text-center mb-5">
                        <h1 class="display-4">Todas las noticias sobre equipos de la UEFA Champions League</h1>
                    </div>
                    <div class="mx-3 mt-4 mb-3 d-flex justify-content-end">
                        <a href="{% url 'equipoChampions' %}" class="btn btn-color text-white">Equipos que participan</a>
                    </div>
                    <div class="wrapper">
                        <div class="container-fluid">
                            <div class="row my-0">

                                {% for noti in mostrar %}
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    {% for det in detalle %}
                                    {% if det.iddetalle == noti.idnoticia %}
                                    <div class="card text-white card-has-bg click-col"
                                         style="background-image:url('{{ det.urlimagen }}');">
                                        <img class="card-img d-none" src="{{ det.urlimagen }}" alt="">
                                        <div class="card-img-overlay d-flex flex-column">
                                            <div class="card-body">
                                                <a href="{% url 'notiChampions' noti.idnoticia %}" class="text-light"><big
                                                        class="card-meta mb-2">{{ noti.nombrenoticia}}</big></a>
                                                <small><i class="far fa-clock"></i> {{det.fechanoticia}}</small>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <td></td>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
               
        </div>
    </div>
</div>


    {% endblock %}