{% extends "bases/base.html" %}

{% block titulo %} Inicio: Noticias Fútbol Libre SV {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    Descubre lo último en el mundo del deporte
                </div>

                <div class="card-body">
                    <div class="card-columns">

                        {% for noti in mostrar %}
                        <div class="card" style="width: 18rem;">
                            {% for det in detalle %}
                            {% if det.iddetalle == noti.idnoticia %}
                            <img class="card-img-top" src="{{ det.urlimagen }} " alt="Card image cap">
                            {% endif %}
                            {% endfor %}
                            <div class="card-body">
                                <h5 style="color: red;" class="card-title">{{ noti.nombrenoticia }}</h5>
                                <p style="color: black;" class="card-text">Noticias sobre: {{noti.tiponoticia}}</p>
                                <a href="verNoticiasMundial/{{noti.idnoticia}}" class="btn btn-primary">Ver Noticia</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}