{% extends "bases/base.html" %}

{% block titulo %} Inicio: Noticias Fútbol Libre SV {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                    Descubre lo último en el mundo del deporte
                </div>

                <div class="card-body">
                    <div class="card-columns">

                        {% for noti in noticias %}
                        <div class="card" style="width: 18rem; height: 35;">

                            <img class="card-img-top" src="{{ noti.urlimagen }} " alt="Card image cap">
                            <div class="card-body">
                                <h5 style="color: red;" class="card-title">{{ noti.idnoticia.nombrenoticia }}</h5>
                                <p style="color: black;" class="card-text">Noticias sobre:
                                    {{noti.idnoticia.tiponoticia}}</p>
                                <a href="{% url 'noticia' noti.iddetalle %}" class="btn btn-primary">Ver Noticia</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-4">
        <a name="" class="btn btn-warning" href="{% url 'todas' %}" role="button">Ver todas las noticias</a>
    </div>
</div>


{% endblock %}