{% extends "bases/base.html" %}

{% block titulo %} Inicio: Noticias Fútbol Libre SV {%endblock %}

{% block nvar %}

{% endblock %}

{% block contenido %}

{% load static %}
<link href="{% static 'css/estilo.css' %}" rel="stylesheet">
<p class="my-4">e</p>
<div class="container-fluid">
    <div class="row">
        <div class="col col-11 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="col text-center mb-5">
                        <h1 class="display-4">Descubre lo último en el mundo del deporte</h1>
                    </div>
                    <div class="row m-4">
                                        <a name="" class="btn btn-warning" href="{% url 'todas' %}" role="button">Ver todas las noticias</a>
                                    </div>

                    <div class="wrapper">
                        <div class="container-fluid">
                            <div class="row my-0">


                                {% for noti in noticias %}
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                                    <div class="card text-white card-has-bg click-col"
                                         style="background-image:url('{{ noti.urlimagen}}');">
                                        <img class="card-img d-none" src="{{ noti.urlimagen}}" alt="">
                                        <div class="card-img-overlay d-flex flex-column">
                                            <div class="card-body">
                                                <a href="{% url 'noticia' noti.iddetalle %}" class="text-light"><big
                                                        class="card-meta mb-2">{{ noti.idnoticia.nombrenoticia }}</big></a>
                                                <small><i class="far fa-clock"></i> {{noti.fechanoticia}}</small>
                                            </div>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <td></td>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% endblock %}